{% extends 'myauth/base.html' %}

{% block title %}
  User info
{% endblock %}

{% block body %}
    <h1>User <strong>{{ profile.user }}</strong> info:</h1>
    <div>
        {% if profile.avatar %}
            <div>Avatar:</div>
            <img src="{{ profile.avatar.url }}" alt="profile.avatar.name">
        {% else %}
            <p>The user does not have an avatar</p>
        {% endif %}
        <div>Username: <strong>{{ profile.user.username }}</strong></div>
        <div>First name: <strong>{{ profile.user.first_name }}</strong></div>
        <div>Last name: <strong>{{ profile.user.last_name }}</strong></div>
        <div>E-mail: <strong>{{ profile.user.email }}</strong></div>
    </div>
    <div>
        {% if request.user.is_staff %}
            <form action="{% url 'myauth:update-avatar' username=profile.user %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="submit">
            </form>
        {% endif %}
    </div>
{% endblock %}